body {
  height: 400px;
  width: 400px;
}

.container {
  padding: 20px;

}

.button {
  display: inline-block;
  min-height: 42px;
  line-height: 42px;
  min-width: 96px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(250, 250, 250);
  opacity: 1;
  cursor: pointer;
  background: rgb(235, 84, 36);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(235, 84, 36);
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s, background 0.25s;
}

.button:focus {
  background: rgb(217, 69, 20);
  border-color: rgb(217, 69, 20);
  outline: none;
} 


.button:hover{
  color: rgb(250, 250, 250);
  background: rgb(217, 69, 20);
  border-color: rgb(217, 69, 20);
}

.button:active{
  background: rgb(191, 58, 17);
  border-color: rgb(191, 58, 17);
  outline: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 56px;
	background: grey;
	display: block;
	border-radius: 28px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #0095ff;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 55px;
}
