body {
  height: 300px;
  width: 400px;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.error {
  color: #ff4646;
}

.button {
  display: inline-block;
  min-height: 42px;
  line-height: 42px;
  min-width: 96px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(250, 250, 250);
  opacity: 1;
  cursor: pointer;
  background: rgb(235, 84, 36);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(235, 84, 36);
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s, background 0.25s;
}

.button:focus {
  background: rgb(217, 69, 20);
  border-color: rgb(217, 69, 20);
  outline: none;
} 


.button:hover{
  color: rgb(250, 250, 250);
  background: rgb(217, 69, 20);
  border-color: rgb(217, 69, 20);
}

.button:active{
  background: rgb(191, 58, 17);
  border-color: rgb(191, 58, 17);
  outline: none;
}

.inputfield {
  background-color: rgb(246, 246, 246);
  height: 35px;
  width: 240px;
  border-color: rgb(246, 246, 246);
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
  color: rgb(85, 85, 85);
  cursor: auto;
  height: 44px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 3px;
  padding: 10px 16px;
  transition: border-color 0.25s, box-shadow 0.25s;
  margin-bottom: 20px;
}

.actions {
  transition: opacity 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.show-item {
  opacity: 1;
}

.inputfield:focus {
  box-shadow: rgb(10, 132, 174) 0px 0px 0px 1px;
  border-color: rgb(10, 132, 174);
  outline: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 56px;
	background: grey;
	display: block;
	border-radius: 28px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: rgb(10, 132, 174);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 55px;
}

.success {
  color: rgb(217, 69, 20);
  font-size: 16px;
  transition: all 0.6s;
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 2.2s;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}