body {
  height: 400px;
  width: 400px;
}

.container {
  padding: 20px;

}

.button {
  display: inline-block;
  min-height: 42px;
  line-height: 42px;
  min-width: 96px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(250, 250, 250);
  opacity: 1;
  cursor: pointer;
  background: rgb(235, 84, 36);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(235, 84, 36);
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s, background 0.25s;
}

.button:focus {
  background: rgb(217, 69, 20);
  border-color: rgb(217, 69, 20);
  outline: none;
} 


.button:hover{
  color: rgb(250, 250, 250);
  background: rgb(217, 69, 20);
  border-color: rgb(217, 69, 20);
}

.button:active{
  background: rgb(191, 58, 17);
  border-color: rgb(191, 58, 17);
  outline: none;
}
